##############

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

################
# URXVT settings
################

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       3
URxvt.lineSpace:            0

# transparency - true or false (default)
#URxvt*transparent: true

# tint with any color; i.e., blue, red, tomato4, olivedrab2, etc.
#   some nice listings are at:
#     http://www.nisrv.com/drupal/?q=node/11
#     http://www.htmlgoodies.com/tutorials/colors/article.php/3478921
#URxvt*tintColor: S_base03

# shading - 0 to 99 darkens, 101 to 200 lightens.
#   Don't use with tintColor; just use a darker or lighter color instead.
URxvt*shading: 15

URxvt*saveLines: 12000

# Monaco Linux font
# URxvt*font: xft:Terminus:pixelsize=12
# URxvt*boldFont: xft:Monaco:bold:pixelsize=15
# URxvt*letterSpace: -1

# scrollbar - true (default) or false
URxvt*scrollBar: false

# scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: false

# scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain

#
# Colours
#

! special
*.foreground:   #d0d0d0
*.background:   #151515
*.cursorColor:  #d0d0d0

! black
*.color0:       #151515
*.color8:       #505050

! red
*.color1:       #ac4142
*.color9:       #ac4142

! green
*.color2:       #90a959
*.color10:      #90a959

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #6a9fb5
*.color12:      #6a9fb5

! magenta
*.color5:       #aa759f
*.color13:      #aa759f

! cyan
*.color6:       #75b5aa
*.color14:      #75b5aa

! white
*.color7:       #d0d0d0
*.color15:      #f5f5f5
